<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Food Ordering Application</title>
</head>
<div class="container">
    <h2>Please enter the street and city where you want food delivered</h2>
    <div class="row mt-3">
    <form action="#" th:action="@{/enter_street_and_city}" method="POST" th:object="${chooseStreetDeliveryDTO}">
        <div class="col-md-4">
            <div class="row mt-3">
                <br>
                <div class="row mt-1">
                    <div class="col-md-3">
                        <label for="chooseStreet">Street:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="chooseStreet" th:field="*{chooseStreet}">
                    </div>
                </div><div class="row mt-3">
                    <div class="col-md-3">
                        <label for="chooseCity">City:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="chooseCity" th:field="*{chooseCity}">
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
<div class="container">
<br>
<br>
    <h1>Available restaurants</h1>
    <div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>name</th>
                <th>type food</th>
                <th>description menu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurant : ${availableRestaurantDTOs}">
                <td th:text="${restaurant.name}"></td>
                <td th:text="${restaurant.typeFood}"></td>
                <td th:text="${restaurant.menu.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h2>Choose restaurant</h2>
    <form action="#" th:action="@{/choose_restaurant_to_order_food}" method="POST" th:object="${variableDTO}">
        <div class="row mt-5">
            <div class="col-md-4">
                <label for="uniqueCode">Select restaurant:</label>
                <select id="uniqueCode" th:field="*{uniqueCode}">
                    <option th:each="restaurant : ${availableRestaurantDTOs}" th:value="${restaurant.uniqueCode}" th:text="${restaurant.restaurantName}"></option>
                </select>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <input type="submit" value="Go to order" class="btn btn-info">
            </div>
        </div>
    </form>
</div>
</html>