<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Food Ordering Application</title>
</head>
<div class="container">

    <h1>Your restaurants</h1>

    <div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>unique code</th>
                <th>name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurant : ${availableRestaurantDTOs}">
                <td th:text="${restaurant.uniqueCode}"></td>
                <td th:text="${restaurant.restaurantName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h2>What do you want? Add new restaurant or manage the existing one?</h2>
    <form action="#" th:action="@{/owner/choose_restaurant}" method="POST" th:object="${variableDTO}">
        <div class="row mt-5">
            <div class="col-md-4">
                <label for="uniqueCode">Select restaurant:</label>
                <select id="uniqueCode" th:field="*{uniqueCode}">
                    <option th:each="restaurant : ${availableRestaurantDTOs}" th:value="${restaurant.uniqueCode}" th:text="${restaurant.restaurantName}"></option>
                </select>
            </div>
        </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <input type="submit" value="Manage restaurant" class="btn btn-info">
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a th:href="@{/restaurant/add_new_restaurant}" class="btn btn-info" role="button">Add new restaurant</a>
        </div>
    </div>
    </form>
</div>
</html>
