<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Food Ordering Application</title>
</head>
<div class="container">

    <h1>Your restaurants</h1>

    <div>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>unique code</th>
                <th>name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurant : ${availableRestaurantDTOs}">
                <td th:text="${restaurant.uniqueCode}"></td>
                <td th:text="${restaurant.restaurantName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h2>What do you want? Add new restaurant or manage the existing one?</h2>

<!--    <div class="row mt-5">-->
<!--        <div class="col-md-4">-->
<!--            <label for="restaurantName">Select restaurant:</label>-->
<!--            <select id="restaurantName" th:field="*{restaurantName}" name="selectedRestaurant">-->
<!--                <option th:each="restaurant : ${availableRestaurantDTOs}" th:value="${availableRestaurantDTOs}" th:text="${availableRestaurantDTOs}"></option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row mt-5">
        <div class="col-md-4">
            <a th:href="@{/restaurant/add_new_restaurant}" class="btn btn-info" role="button">Add new restaurant</a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <a th:href="@{/restaurant/manage}" class="btn btn-info" role="button">Manage existing restaurant</a>
        </div>
        <div class="row mt-3">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form th:action="@{/restaurant/manage}" method="post">
                <label for="restaurantName">Select restaurant:</label>
                <select id="restaurantName" th:field="*{restaurantName}" name="selectedRestaurant">
                    <option th:each="restaurant : ${availableRestaurantDTOs}" th:value="${availableRestaurantDTOs}" th:text="${availableRestaurantDTOs}"></option>
                </select>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
