<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Food Ordering Application</title>
</head>
<div class="container">
    <br>
    <h1>Food order success!</h1>
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/customer/update_order}" class="btn btn-info" role="button">Update order</a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a th:href="@{/customer}" class="btn btn-info" role="button">Back</a>
        </div>
    </div>
</div>
</html>